.img{
    background-image: url("https://wallpaperaccess.com/full/1098117.jpg");
    height: 100vh!important;
    background-size: cover;
    padding: 5vw;
}

.Card{
    padding: 30px;
    margin-left: 30px;
    opacity: 0.6;
    width: 26vw;
    height: 52vh;
}

.in-line-Card{
    display: flex;
    padding-left: 20px;
}